<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css"href="css/style.css" >
		<title>Estoque Insuficiente</title>
		<link rel="shortcut icon" href="img/favicon.ico" />
		<script src="js/script.js"></script>
	    <link href="https://fonts.googleapis.com/css?family=Gotu&display=swap" rel="stylesheet">
		<!--Import Google Icon Font-->
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <!--Import materialize.css-->
	    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
	    <!--Let browser know website is optimized for mobile-->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	
	<body>
		<nav>
			<div class="nav-wrapper">
		     	<a href="/" class="brand-logo right">Vulture | Caixa</a>
		     	<ul id="nav-mobile" class="left hide-on-med-and-down">
		       		<li><a href="/"><i class="material-icons left">home</i>Home</a></li>
		    		<li><a href="/cadastro-vendas"><i class="material-icons left">add_circle</i>Cadastrar Venda</a></li>
					<li><a href="/estoque"><i class="material-icons left">format_list_bulleted</i>Lista de Troféus Vendidos</a></li>
				</ul>
			</div>
		</nav>
		<h2>Estoque Insuficiente</h2>
		<h3>Comunique ao Gerente</h3>
		<a href="/cadastro-vendas" id="botaoVoltar" class="waves-effect waves-light btn">Voltar</a>
		
		
	</body>
</html>