<!DOCTYPE html>
<html>

<head>
	<title>Caixa</title>
	<link rel="shortcut icon" href="img/favicon.ico" />
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css"href="css/style.css" >
	<link href="https://fonts.googleapis.com/css?family=Gotu&display=swap" rel="stylesheet">
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
	<body>
		<nav>
		  <div class="nav-wrapper">
		    <a href="/" class="brand-logo right">Vulture | Caixa</a>
			    <ul id="nav-mobile" class="left hide-on-med-and-down">
			   	<li><a href="/"><i class="material-icons left">exit_to_app</i>Sair</a></li>
		    </ul>
		  </div>
		</nav>	
		<h1>Sistema de Venda de Troféus</h1>
		<h4>Funcionalidades</h4>
		<div class="lista">
			<ul>
				<li><a href="/cadastro-vendas" title="Apenas para Operador de Caixa!">Realizar Venda (Construindo)</a></li>
			</ul>		
		</div>
	</body>

</html>