<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venda</title>
    <script src="js/script.js"></script>
</head>
<body>
    <h1>Cadastro de Venda</h1>
    <form id="formula" method="post">
        Nome do Funcionario: <input type="text" value="" name="nomeDoFuncionario"><br>
        Modelo: <input list="modelos" value="" name="modeloTrofeu"><br>
        Material: <input value="" list="material" type="text" name="tipoTrofeu"><br>
        Cor: <input list="cor" value="" name="corTrofeu"><br>
        Tamanho: <input type="text" value="" name="tamanho"><br>
        Quantidade: <input type="text" value="" name="quantidade"><br>
        Valor Por Unidade: <input type="text" value="" name="valorUnitario"><br>
        Forma de Pagamento: <input list="pag" value="" name="formaDePagamento"><br>
        <button type="submit" onclick="cadastrou()">Cadastrar Venda</button><br><br>
        
        <datalist id="modelos">
        	<option value="Modelo 1">
        	<option value="Modelo 2">
        </datalist>
        	
        <datalist id="material">
        	<option value="Madeira">
        	<option value="Resina">
        	<option value="Madeira e Resina">
        </datalist>
        
        <datalist id="cor">
        	<option value="Ouro">
        	<option value="Prata">
        	<option value="Bronze">
        </datalist>
        
        <datalist id="pag">
        	<option value="Dinheiro">
        	<option value="Débito">
        	<option value="Crédito">
        </datalist>
        
    </form>
    <button onclick="window.location.href='/'">Home</button>
</body>
</html>