<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Funcionario</title>
</head>
<body>
    <h1>Cadastro de Funcionario</h1>
    <form method="post" action="/funcionarios">
        Nome: <input type="text" value="" name="nome" autocomplete="off"><br>
        CPF (Somente Números): <input type="text" value="" name="cpf" autocomplete="off"><br>
        Usuario: <input type="text" value="" name="login" autocomplete="off"><br>
        Senha: <input type="password" value="" name="senha" autocomplete="off"><br>
        Cargo: <input type="text" value="" name="cargo" autocomplete="off"><br>
        Salario: <input type="text" value="" name="salario" autocomplete="off">
        <button type="submit">Cadastrar</button>
    </form>
    <div>
    	<h4><a href="/">Home</a></h4>
    </div>
</body>
</html>