<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Funcionarios</title>
</head>
<body>
    <h1>Gerenciar Funcionarios</h1>
    <ul>
        <li><a href="funcionarios/cadastrar">Cadastrar Funcionario</a></li>
        <li><a href="funcionarios/demitir">Demitir Funcionario</a></li>
        <li><a href="funcionario/listar">Ver Todos os Funcionarios</a></li>
    </ul>
    <div>
    	<h4><a href="/">Home</a></h4>
    </div>
</body>
</html>